@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
    background-color: #E5E5E5;

}

.reading_menu {
    header {
        margin: 2rem;
        .profile_wrapper {
            display: flex;
            .profile_picture {
                width: 8rem;
                border-radius: 1.5rem;
            }
            .profile_detail_wrapper {
                margin-left: 4rem;
                .profile_name {
                    font-family: 'Rubik', sans-serif;
                    margin-bottom: 0;
                    font-size: xx-large;
                    font-weight: bold;
                }
                .profile_designation {
                    color: #777;
                    font-weight: 700;
                    margin: 0;
                }
            }
        }
    }
    .body_container {
        display:flex;
        .side_menu_wrapper {
            margin-left: 2rem;
            width: 20vw;
            border-radius: 10px;
            padding: 2em;
            box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.08);
            .side_menu_title{
                .title_list {
                    display: flex;
                    font-family: "Rubik";
                    font-size: 0.8em;
                    font-weight: 600;
                    line-height: 1.9em;
                    color: #524f4f;
                    .speed {
                        margin-left: 0rem;
                        color: #00c6d2;
                    }
                    .search {
                        color: #b5b5b3;
                    }
                    div {
                        margin-left: 2rem;
                    }
                }
            }
    
            .side_menu_body{
                .side_menu_content_wrapper{
                    .nav_item_title {
                        color: #777;
                        font-weight: 500;
                    }
                    .book_details_wrapper {
                        p {
                            font-size: xx-large;
                            margin: 0;
                        }
                        // .progress_bar1 {
                        //     position: absolute;
                        //     border-top: 8px solid rgb(43, 43, 233);
                        //     width: 7em;
                        //     margin-left: 5em;
                        //     margin-top: -1.4em;
                        //     border-radius: 4px;
                        // }
                        progress[value] {
                            position: absolute;
                            -webkit-appearance: none;
                            appearance: none;
                            width: 11em;
                            height: 7px;
                            margin-left: 5em;
                            margin-top: -1.4em;
                            animation-name: progress_animation;

                        
                        &::-webkit-progress-bar {
                            background-color: #eee;
                            border-radius: 2px;
                            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
                            }
                        &::-webkit-progress-value {
                            background-color: #00c6d2;;
                                border-radius: 2px; 
                                background-size: 35px 20px, 100% 100%, 100% 100%;
                            }  
                            @keyframes progress_animation {
                                0% {
                                    width: 0;
                                    background: rgb(43, 43, 233);
                                    } 
                                100% {
                                    width: 50%;
                                    background:rgb(43, 43, 233) ;
                                }    
                                }
                            }
                        }
                        .yellow_progress_bar {
                            progress[value] {
                                position: absolute;
                                -webkit-appearance: none;
                                appearance: none;
                                width: 11em;
                                height: 7px;
                                margin-left: 5em;
                                margin-top: -1.4em;
                                animation-name: progress_animation;
    
                            
                            &::-webkit-progress-bar {
                                background-color: #eee;
                                border-radius: 2px;
                                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
                                }
                            &::-webkit-progress-value {
                                background-color: rgb(228, 228, 91);
                                border-radius: 2px; 
                                background-size: 35px 20px, 100% 100%, 100% 100%;
                                }  
                                @keyframes progress_animation {
                                    0% {
                                        width: 0;
                                        background: rgb(43, 43, 233);
                                        } 
                                    100% {
                                        width: 50%;
                                        background:rgb(43, 43, 233) ;
                                    }    
                                    }
                                }
                            }
                        }
                        .orange_progress_bar {
                            progress[value] {
                               
                            
                            &::-webkit-progress-value {
                                background-color: orangered;
                                border-radius: 2px; 
                                background-size: 35px 20px, 100% 100%, 100% 100%;
                                }  
                               
                                }
                            }
                        // .progress_bar3 {
                        //     position: absolute;
                        //     border-top: 8px solid orangered;
                        //     width: 5em;
                        //     margin-left: 5em;
                        //     margin-top: -1.4em;
                        //     border-radius: 4px;
                        // }
                        .clap_icon {
                            position: absolute;
                            margin-left: 8em;
                            margin-top: -1.4em;
                            font-size: x-large;
                        }
                        .brain_icon {
                            position: absolute;
                            margin-left: 8em;
                            margin-top: -1.4em;
                            font-size: x-large;
                        }
                    }
                }
            }    
            
        .main_content {
            margin-left: 2em;
            .book_title {
                font-size: 3em;
                margin-bottom: 0;
                animation: slide_up 1s ease;
            }
            @keyframes slide_up {
                0% {
                    transform: translateY(150px);
                }
                100% {
                    transform: translateY(0);
                }
            }
            
            .book_title_second {
                font-size: 3em;
                margin: 0;
                animation: slide_up 1s ease;
            }
            button {
                background: rgb(0,198,210);
                width: 12em;
                border-radius: 40px;
                outline: none;
                border: none;
                padding: 0.4em;
                font-size: 1.3em;
                color:#e2f0f1;
                font-family: 'Rubik';
                font-weight: 500;
                line-height: 1.5em;
                span {
                    background: none;
                    margin-left: 1em;
                    vertical-align: -5px;
                }
            }
        }
        .main_image_wrapper {
            .book_cover {
                width: 38%;
                // padding: 3rem;
                position: relative;
                animation-name: book_animation;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                overflow: hidden;
                left: 33em;
                z-index: 5;
                bottom: 17em;
                background: none;
            }
            @keyframes book_animation {
                0% {
                    z-index: 2;
                    transform: translateY(0em);
                    // transform: rotate(27deg);
                  }
                // 25% {
                //     z-index: 2;
                //     transform: translateY(0em);
                //     // transform: rotate(27deg);
                // }  
                50% {
                    transform: scale(1.2);
                    // transform: rotate(27deg);
                    z-index: 3;
                    transform: translateY(2em);
                  }
            }
            #circle {
                position: absolute;
                width: 320.34px;
                height: 320.45px;
                left: 861.83px;
                top: 228.37px;
                border-radius: 50%;
                z-index: 1;
                background: linear-gradient(140.62deg
            , #FFFFFF 18.89%, rgba(245, 245, 245, 0.60143) 48.52%, rgba(175, 148, 148, 0) 93.24%);
              }
        }
        .dates_wrapper {
            height: 10em;
            .dates_container {
                display: flex;
                .first_date {
                    background: #E7E8F2;
                    border-radius: 11px;
                    width: 4em;
                    margin-left: 2em;
                    text-align: center;
                    padding: 0.1em;
                    border: 1px solid rgb(88, 86, 86);
                    color: #000000;
                    span.expanded {
                        display: none;
                    }
                    .month_name {
                        color: #38393d;
                    }
                    &:hover {
                        transition: transform 0.5s ease;
                        transform: scale(1.3);
                        height: 7em;
                        width: 6em;
                        padding: 0;
                        span.expanded {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            .book_name {
                                color: black;
                                font-size: .7em;
                                font-weight: bold;
                                padding: 0em 1em;
                            }
                            .genre {
                                font-size: 0.6em;
                                color:#7f828e;
                                font-weight: 600;
                                margin-bottom: 0;
                            }
                            h3 {
                                color: rgb(0,198,210);
                                margin: 0;
                            }
                        }
                        span.normal {
                            display: none;
                        }
                    }
                   
                }
                .second_date {
                background: #E7E8F2;
                opacity: 0.5;
                border-radius: 11px;
                width: 4em;
                margin-left: 2em;
                text-align: center;
                padding: 0.1em;
                border: 1px solid red;
                &:hover {
                    transform: scale(1.5);
                    content: "The Great Gatsby";
                }
            }
        }
            
        } 
} 

.articles_wrapper {
    .page_title {
        font-size: 3em;
        font-family: fantasy;
        text-align: center;
        height: 50vh;
        background-color: greenyellow;
    }
    .first_article {
        border: 1px solid black;
        width: 50%;
        margin: 0 auto;
        .image_and_name {
            display: flex;
            
            .image_wrapper {
                img {
                    width: 3em;
                }
            }
            .author_name {
                margin-left: 2em;
            }
        }
        .title_and_art {
            display: flex;
            justify-content: space-around;
            .article_title {
                text-transform: uppercase;
                align-items: center;
                
                
            }
        }
        .date_and_time {
            padding: 0 2em;
        }
        
    }
}
    
